<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
        <title>Rock Paper Scissors</title>
    </head>
    <body>
        <div class='container'>
            <h1>Rock Paper Scissors</h1>
            <h4>Lets play!</h4>
            <form action='/winner' method="post">
                <label for='player1'>Player 1</label><br>
                <input type='radio' name='player1' value='Rock'>Rock <br>
                <input type='radio' name='player1' value='Paper'>Paper <br>
                <input type='radio' name='player1' value='Scissors'>Scissors <br>

                <label for='player2'>Player 2</label><br>
                <input type='radio' name='player2' value='Rock'>Rock <br>
                <input type='radio' name='player2' value='Paper'>Paper <br>
                <input type='radio' name='player2' value='Scissors'>Scissors <br>

                <button type='submit' class='btn btn-success'>Submit</submit>
            </form>
        </div>
    </body>

</html>
