<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
        <title>Rock Paper Scissors</title>
    </head>
    <body>
        <div class='container'>
            <h1>The winner is:</h1>
                <p> {{ winner }} </p>
                <h2>You Chose:</h2>
                    <p>
                        {{ player1 }}
                    </p>
                <h2>The Computer Chose:</h2>
                    <p>
                        {{ player2 }}
                    </p>
                <a href="/"><button class='btn btn-danger'>Go Back</button></a>
        </div>
    </body>
</html>
